In [15]:
import pandas as pd
import numpy as np

In [16]:
movies_n_series = pd.read_csv("TMDB_Movies_TV.csv")

In [17]:
movies_n_series.head()

,Unnamed: 0,id,original_language,title,overview,genre,keywords,cast,crew
0,0,298618,en,The Flash,"['When', 'his', 'attempt', 'to', 'save', 'his'...","['Action', 'Adventure', 'Science Fiction']","['secret identity', 'hero', 'superhero', 'base...","['Ezra Miller', 'Sasha Calle', 'Michael Keaton...",['Andy Muschietti']
1,1,346698,en,Barbie,"['Barbie', 'and', 'Ken', 'are', 'having', 'the...","['Comedy', 'Adventure', 'Fantasy']","['feminism', 'patriarchy', 'satire', 'based on...","['Margot Robbie', 'Ryan Gosling', 'Issa Rae', ...",['Greta Gerwig']
2,2,667538,en,Transformers: Rise of the Beasts,"['When', 'a', 'new', 'threat', 'capable', 'of'...","['Action', 'Adventure', 'Science Fiction']","['peru', 'alien', 'end of the world', 'based o...","['Anthony Ramos', 'Dominique Fishback', 'Peter...",['Steven Caple Jr.']
3,3,385687,en,Fast X,"['Over', 'many', 'missions', 'and', 'against',...","['Action', 'Crime', 'Thriller']","['sequel', 'revenge', 'racing', 'family', 'cars']","['Vin Diesel', 'Michelle Rodriguez', 'Tyrese G...",['Louis Leterrier']
4,4,872585,en,Oppenheimer,"['The', 'story', 'of', 'J.', 'Robert', 'Oppenh...","['Drama', 'History']","['based on novel or book', 'husband wife relat...","['Cillian Murphy', 'Emily Blunt', 'Matt Damon'...",['Christopher Nolan']

In [18]:
movies_n_series.rename(columns={'id': 'mov_ser_id'}, inplace=True) #column rename using pandas rename function

In [19]:
movies_n_series.head()

,Unnamed: 0,mov_ser_id,original_language,title,overview,genre,keywords,cast,crew
0,0,298618,en,The Flash,"['When', 'his', 'attempt', 'to', 'save', 'his'...","['Action', 'Adventure', 'Science Fiction']","['secret identity', 'hero', 'superhero', 'base...","['Ezra Miller', 'Sasha Calle', 'Michael Keaton...",['Andy Muschietti']
1,1,346698,en,Barbie,"['Barbie', 'and', 'Ken', 'are', 'having', 'the...","['Comedy', 'Adventure', 'Fantasy']","['feminism', 'patriarchy', 'satire', 'based on...","['Margot Robbie', 'Ryan Gosling', 'Issa Rae', ...",['Greta Gerwig']
2,2,667538,en,Transformers: Rise of the Beasts,"['When', 'a', 'new', 'threat', 'capable', 'of'...","['Action', 'Adventure', 'Science Fiction']","['peru', 'alien', 'end of the world', 'based o...","['Anthony Ramos', 'Dominique Fishback', 'Peter...",['Steven Caple Jr.']
3,3,385687,en,Fast X,"['Over', 'many', 'missions', 'and', 'against',...","['Action', 'Crime', 'Thriller']","['sequel', 'revenge', 'racing', 'family', 'cars']","['Vin Diesel', 'Michelle Rodriguez', 'Tyrese G...",['Louis Leterrier']
4,4,872585,en,Oppenheimer,"['The', 'story', 'of', 'J.', 'Robert', 'Oppenh...","['Drama', 'History']","['based on novel or book', 'husband wife relat...","['Cillian Murphy', 'Emily Blunt', 'Matt Damon'...",['Christopher Nolan']

In [20]:
movies_n_series['original_language'].value_counts() #to count the values of data in a column

original_language
en    5712
hi    2990
ta    1972
ja    1901
ml    1535
      ...
ks       1
ky       1
ne       1
am       1
lt       1
Name: count, Length: 68, dtype: int64

In [21]:
movies_n_series.info() # to get the details of coulmns data type and other informations

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         20000 non-null  int64
 1   mov_ser_id         20000 non-null  int64
 2   original_language  20000 non-null  object
 3   title              20000 non-null  object
 4   overview           20000 non-null  object
 5   genre              20000 non-null  object
 6   keywords           20000 non-null  object
 7   cast               20000 non-null  object
 8   crew               20000 non-null  object
dtypes: int64(2), object(7)
memory usage: 1.4+ MB

In [22]:
# genre
# mov_ser_id
# keywords
# title
# overview
# cast 
# crew
# we are going to take out only essential columns for our dataset
movies_n_series = movies_n_series[['mov_ser_id', 'title', 'overview', 'genre', 'keywords', 'cast', 'crew']]

In [23]:
movies_n_series.head()

,mov_ser_id,title,overview,genre,keywords,cast,crew
0,298618,The Flash,"['When', 'his', 'attempt', 'to', 'save', 'his'...","['Action', 'Adventure', 'Science Fiction']","['secret identity', 'hero', 'superhero', 'base...","['Ezra Miller', 'Sasha Calle', 'Michael Keaton...",['Andy Muschietti']
1,346698,Barbie,"['Barbie', 'and', 'Ken', 'are', 'having', 'the...","['Comedy', 'Adventure', 'Fantasy']","['feminism', 'patriarchy', 'satire', 'based on...","['Margot Robbie', 'Ryan Gosling', 'Issa Rae', ...",['Greta Gerwig']
2,667538,Transformers: Rise of the Beasts,"['When', 'a', 'new', 'threat', 'capable', 'of'...","['Action', 'Adventure', 'Science Fiction']","['peru', 'alien', 'end of the world', 'based o...","['Anthony Ramos', 'Dominique Fishback', 'Peter...",['Steven Caple Jr.']
3,385687,Fast X,"['Over', 'many', 'missions', 'and', 'against',...","['Action', 'Crime', 'Thriller']","['sequel', 'revenge', 'racing', 'family', 'cars']","['Vin Diesel', 'Michelle Rodriguez', 'Tyrese G...",['Louis Leterrier']
4,872585,Oppenheimer,"['The', 'story', 'of', 'J.', 'Robert', 'Oppenh...","['Drama', 'History']","['based on novel or book', 'husband wife relat...","['Cillian Murphy', 'Emily Blunt', 'Matt Damon'...",['Christopher Nolan']

In [24]:
movies_n_series.isnull().sum() #to find the total of null values in a particular column

mov_ser_id    0
title         0
overview      0
genre         0
keywords      0
cast          0
crew          0
dtype: int64

In [25]:
movies_n_series.duplicated().sum() # ro find the duplicate values

0

In [26]:
movies_n_series.iloc[0].genre

"['Action', 'Adventure', 'Science Fiction']"

In [27]:
#first we need to preprocess the data of the columns
# genre
# keywords
# overview
# cast 
# crew
# all the above columns data as like string we need to convert it into list
import ast

movies_n_series['genre'] = movies_n_series['genre'].apply(lambda x: ast.literal_eval(x))
movies_n_series['keywords'] = movies_n_series['keywords'].apply(lambda x: ast.literal_eval(x))
movies_n_series['overview'] = movies_n_series['overview'].apply(lambda x: ast.literal_eval(x))
movies_n_series['cast'] = movies_n_series['cast'].apply(lambda x: ast.literal_eval(x))
movies_n_series['crew'] = movies_n_series['crew'].apply(lambda x: ast.literal_eval(x))

In [28]:
movies_n_series.head()

,mov_ser_id,title,overview,genre,keywords,cast,crew
0,298618,The Flash,"[When, his, attempt, to, save, his, family, in...","[Action, Adventure, Science Fiction]","[secret identity, hero, superhero, based on co...","[Ezra Miller, Sasha Calle, Michael Keaton, Mic...",[Andy Muschietti]
1,346698,Barbie,"[Barbie, and, Ken, are, having, the, time, of,...","[Comedy, Adventure, Fantasy]","[feminism, patriarchy, satire, based on toy, f...","[Margot Robbie, Ryan Gosling, Issa Rae, Kate M...",[Greta Gerwig]
2,667538,Transformers: Rise of the Beasts,"[When, a, new, threat, capable, of, destroying...","[Action, Adventure, Science Fiction]","[peru, alien, end of the world, based on toy, ...","[Anthony Ramos, Dominique Fishback, Peter Cull...",[Steven Caple Jr.]
3,385687,Fast X,"[Over, many, missions, and, against, impossibl...","[Action, Crime, Thriller]","[sequel, revenge, racing, family, cars]","[Vin Diesel, Michelle Rodriguez, Tyrese Gibson...",[Louis Leterrier]
4,872585,Oppenheimer,"[The, story, of, J., Robert, Oppenheimer’s, ro...","[Drama, History]","[based on novel or book, husband wife relation...","[Cillian Murphy, Emily Blunt, Matt Damon, Robe...",[Christopher Nolan]

In [29]:
#we are going to take out the spaces between cast, crew, keywords and genre data
#eg: if Science Fiction to ScienceFiction
movies_n_series['genre'] = movies_n_series['genre'].apply(lambda x: [i.replace(" ","") for i in x])
movies_n_series['cast'] = movies_n_series['cast'].apply(lambda x: [i.replace(" ","") for i in x])
movies_n_series['crew'] = movies_n_series['crew'].apply(lambda x: [i.replace(" ","") for i in x])
movies_n_series['keywords'] = movies_n_series['keywords'].apply(lambda x: [i.replace(" ","") for i in x])

In [30]:
movies_n_series.head()

,mov_ser_id,title,overview,genre,keywords,cast,crew
0,298618,The Flash,"[When, his, attempt, to, save, his, family, in...","[Action, Adventure, ScienceFiction]","[secretidentity, hero, superhero, basedoncomic...","[EzraMiller, SashaCalle, MichaelKeaton, Michae...",[AndyMuschietti]
1,346698,Barbie,"[Barbie, and, Ken, are, having, the, time, of,...","[Comedy, Adventure, Fantasy]","[feminism, patriarchy, satire, basedontoy, fem...","[MargotRobbie, RyanGosling, IssaRae, KateMcKin...",[GretaGerwig]
2,667538,Transformers: Rise of the Beasts,"[When, a, new, threat, capable, of, destroying...","[Action, Adventure, ScienceFiction]","[peru, alien, endoftheworld, basedontoy, robot...","[AnthonyRamos, DominiqueFishback, PeterCullen,...",[StevenCapleJr.]
3,385687,Fast X,"[Over, many, missions, and, against, impossibl...","[Action, Crime, Thriller]","[sequel, revenge, racing, family, cars]","[VinDiesel, MichelleRodriguez, TyreseGibson, L...",[LouisLeterrier]
4,872585,Oppenheimer,"[The, story, of, J., Robert, Oppenheimer’s, ro...","[Drama, History]","[basedonnovelorbook, husbandwiferelationship, ...","[CillianMurphy, EmilyBlunt, MattDamon, RobertD...",[ChristopherNolan]

In [31]:
#the cast column contains more values so first we are going to fix it by converting the length into max 3
#writing function for that
def new_li(obj):
    if len(obj) > 3:
        obj = obj[:3]
    return obj

In [32]:
movies_n_series['cast'] = movies_n_series['cast'].apply(new_li)

In [33]:
#creating a new column named tags by concatenating the columns
# overview
# genre
# keywords
# cast
# crew

movies_n_series['tags'] = movies_n_series['overview'] + movies_n_series['genre'] + movies_n_series['keywords'] + movies_n_series['cast'] + movies_n_series['crew']

In [34]:
movies_n_series.head()

,mov_ser_id,title,overview,genre,keywords,cast,crew,tags
0,298618,The Flash,"[When, his, attempt, to, save, his, family, in...","[Action, Adventure, ScienceFiction]","[secretidentity, hero, superhero, basedoncomic...","[EzraMiller, SashaCalle, MichaelKeaton]",[AndyMuschietti],"[When, his, attempt, to, save, his, family, in..."
1,346698,Barbie,"[Barbie, and, Ken, are, having, the, time, of,...","[Comedy, Adventure, Fantasy]","[feminism, patriarchy, satire, basedontoy, fem...","[MargotRobbie, RyanGosling, IssaRae]",[GretaGerwig],"[Barbie, and, Ken, are, having, the, time, of,..."
2,667538,Transformers: Rise of the Beasts,"[When, a, new, threat, capable, of, destroying...","[Action, Adventure, ScienceFiction]","[peru, alien, endoftheworld, basedontoy, robot...","[AnthonyRamos, DominiqueFishback, PeterCullen]",[StevenCapleJr.],"[When, a, new, threat, capable, of, destroying..."
3,385687,Fast X,"[Over, many, missions, and, against, impossibl...","[Action, Crime, Thriller]","[sequel, revenge, racing, family, cars]","[VinDiesel, MichelleRodriguez, TyreseGibson]",[LouisLeterrier],"[Over, many, missions, and, against, impossibl..."
4,872585,Oppenheimer,"[The, story, of, J., Robert, Oppenheimer’s, ro...","[Drama, History]","[basedonnovelorbook, husbandwiferelationship, ...","[CillianMurphy, EmilyBlunt, MattDamon]",[ChristopherNolan],"[The, story, of, J., Robert, Oppenheimer’s, ro..."

In [35]:
# going to create a new dataframe by using the three columns
# mov_ser_id
# title
# tags

new_df = movies_n_series[['mov_ser_id', 'title', 'tags']]

In [36]:
new_df.head()

,mov_ser_id,title,tags
0,298618,The Flash,"[When, his, attempt, to, save, his, family, in..."
1,346698,Barbie,"[Barbie, and, Ken, are, having, the, time, of,..."
2,667538,Transformers: Rise of the Beasts,"[When, a, new, threat, capable, of, destroying..."
3,385687,Fast X,"[Over, many, missions, and, against, impossibl..."
4,872585,Oppenheimer,"[The, story, of, J., Robert, Oppenheimer’s, ro..."

In [37]:
#here you can see that tags in a list form so next we are going to convert it to a string
# leave the error no problem in it
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

C:\Users\aruna\AppData\Local\Temp\ipykernel_14332\2499136289.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

In [38]:
new_df.head()

,mov_ser_id,title,tags
0,298618,The Flash,When his attempt to save his family inadverten...
1,346698,Barbie,Barbie and Ken are having the time of their li...
2,667538,Transformers: Rise of the Beasts,When a new threat capable of destroying the en...
3,385687,Fast X,Over many missions and against impossible odds...
4,872585,Oppenheimer,The story of J. Robert Oppenheimer’s role in t...

In [39]:
import nltk

In [40]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [41]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [42]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\aruna\AppData\Local\Temp\ipykernel_14332\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [43]:
new_df['tags'][0]

"when hi attempt to save hi famili inadvert alter the future, barri allen becom trap in a realiti in which gener zod ha return and there are no super hero to turn to. in order to save the world that he is in and return to the futur that he knows, barry' onli hope is to race for hi life. but will make the ultim sacrific be enough to reset the universe? action adventur sciencefict secretident hero superhero basedoncom superhuman superpow aftercreditssting butterflyeffect dcextendeduniverse(dceu) superhuman lossofmoth ezramil sashacal michaelkeaton andymuschietti"

In [44]:
# next we are going to convert our tags into lowercase
new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())

C:\Users\aruna\AppData\Local\Temp\ipykernel_14332\3179194879.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())

In [45]:
new_df.head()

,mov_ser_id,title,tags
0,298618,The Flash,when hi attempt to save hi famili inadvert alt...
1,346698,Barbie,barbi and ken are have the time of their live ...
2,667538,Transformers: Rise of the Beasts,when a new threat capabl of destroy the entir ...
3,385687,Fast X,"over mani mission and against imposs odds, dom..."
4,872585,Oppenheimer,the stori of j. robert oppenheimer’ role in th...

In [127]:
# after this we are going to convert the tags into vector
# for take out the most common words in tags and also to not take the stop words in english
# stop words are in english : is, are, a, the, with, for like
# so we are going to convert it into 2D and take out most common words
# for this we are using sklearn modules CounterVector function

In [46]:
from sklearn.feature_extraction.text import CountVectorizer

In [47]:
cv = CountVectorizer(max_features=5000, stop_words='english')

In [48]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [49]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [50]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [51]:
cv.get_feature_names_out()[:1000]

array(['00', '000', '10', '100', '11', '12', '13', '14', '15', '16',
       '16th', '17', '18', '18th', '18thcenturi', '19', '1920', '1930',
       '1940', '1950', '1958', '1960', '1961', '1962', '1963', '1964',
       '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972',
       '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980',
       '1980s', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1990s', '1991', '1992', '1993', '1994',
       '1995', '1996', '1997', '1998', '1999', '19th', '19thcenturi',
       '20', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2019', '2020', '20th', '21', '21st', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '300', '31', '40', '400',
       '45', '50', '500', '60', '70', '80', '90', 'aamirkhan', 'aarti',
       'abandon', 'abba', 'abc', 'abduct', 'abhay', 'abhaydeol', 'abhi',
       'abhimanyu', 'abhishekbachchan', 'abil', 'abilities',
       'abirchatterje', 'abl', 'aboard', 'abov', 'abroad', 'absolut',
       'absurd', 'absurdist', 'abus', 'academ', 'academi', 'academy',
       'accept', 'access', 'accid', 'accident', 'acclaim', 'accompani',
       'accomplish', 'accord', 'account', 'accus', 'ace', 'achiev',
       'achyuthkumar', 'acp', 'acquaint', 'acquir', 'act', 'action',
       'actionhero', 'activ', 'activist', 'activities', 'actor',
       'actress', 'actual', 'ad', 'adam', 'adapt', 'add', 'addict',
       'addit', 'address', 'adi', 'aditya', 'adjust', 'admir', 'admit',
       'adolesc', 'adopt', 'ador', 'adult', 'adultanim', 'adulteri',
       'adulthood', 'adulthumor', 'advanc', 'advantag', 'adventur',
       'adventure', 'adventures', 'advertis', 'advic', 'advis', 'advoc',
       'ae', 'affair', 'affairs', 'affect', 'affection', 'affluent',
       'afford', 'afghanistan', 'afraid', 'africa', 'african',
       'aftabshivdasani', 'aftercreditssting', 'afterlif', 'aftermath',
       'ag', 'age', 'agenc', 'agency', 'agenda', 'agent', 'ago', 'agre',
       'agrees', 'ah', 'ahead', 'ai', 'aid', 'aikayano', 'ail', 'aim',
       'air', 'airplan', 'airport', 'aishwarya', 'aishwaryaraibachchan',
       'aishwaryarajesh', 'ajay', 'ajaydevgn', 'ajit', 'ajith',
       'ajithkumar', 'ajuvarghes', 'aka', 'akarikito', 'akash', 'akira',
       'akkineni', 'akshay', 'akshayekhanna', 'akshaykumar', 'al',
       'alaska', 'albert', 'alcohol', 'alex', 'ali', 'alia', 'aliabhatt',
       'alic', 'alien', 'alieninvas', 'alienplanet', 'aliens', 'alik',
       'aliv', 'alive', 'allarinaresh', 'alli', 'allianc', 'allow',
       'alluarjun', 'alon', 'alongsid', 'alreadi', 'alter', 'altern',
       'alternatedimens', 'alternatehistori', 'alway', 'amalaakkineni',
       'amalapaul', 'aman', 'amar', 'amateur', 'amaz', 'ambika', 'ambit',
       'ambiti', 'ambition', 'ameeshapatel', 'america', 'american', 'ami',
       'amid', 'amidst', 'amikoshimizu', 'amit', 'amitabh',
       'amitabhbachchan', 'amnesia', 'amor', 'amp', 'amrishpuri',
       'amritasingh', 'amus', 'ana', 'anand', 'ancestr', 'anchor',
       'ancient', 'andi', 'andrea', 'andrew', 'android', 'angel',
       'angela', 'angeles', 'anger', 'angri', 'angst', 'ani', 'anil',
       'anilkapoor', 'anim', 'animals', 'animation', 'anime', 'anita',
       'anjali', 'anju', 'ann', 'anna', 'anni', 'anniversari', 'announc',
       'annual', 'anonym', 'anoop', 'anoopmenon', 'anoth', 'answer',
       'antagonist', 'antholog', 'anthropomorph', 'anti', 'antic',
       'antihero', 'antiqu', 'anu', 'anupamkh', 'anuragkashyap',
       'anushkashetti', 'anwar', 'anymore', 'anyon', 'anyth', 'aparna',
       'apart', 'apartment', 'apocalyps', 'apocalypt', 'apocalypticfutur',
       'app', 'appar', 'appear', 'appearance', 'appoint', 'appreci',
       'apprehend', 'apprentic', 'approach', 'approv', 'appu', 'april',
       'arab', 'aravind', 'arbaazkhan', 'arch', 'archaeologist',
       'archana', 'architect', 'architectur', 'area', 'aren', 'arena',
       'argentina', 'aris', 'aristocrat', 'arjun', 'arjunramp',
       'arjunsarja', 'arm', 'armi', 'armor', 'army', 'arrang',
       'arrangedmarriag', 'arrest', 'arrested', 'arriv', 'arrival',
       'arrog', 'arshadwarsi', 'art', 'arthur', 'artifact', 'artifici',
       'artificialintellig', 'artist', 'artists', 'arts', 'arun', 'arya',
       'aryan', 'asadora', 'asamiseto', 'ash', 'asha', 'ashok', 'ashokan',
       'ashokkumar', 'asia', 'asifali', 'ask', 'aspect', 'aspir',
       'asrani', 'assassin', 'assault', 'assembl', 'assign', 'assist',
       'assistant', 'associ', 'assum', 'astrolog', 'astronaut', 'athlet',
       'atlanta', 'atmospher', 'attach', 'attack', 'attain', 'attempt',
       'attend', 'attent', 'attention', 'attitud', 'attorney', 'attract',
       'atulkulkarni', 'audienc', 'audience', 'audit', 'august', 'aunt',
       'australia', 'australian', 'austria', 'author', 'autism', 'auto',
       'automobil', 'avail', 'aveng', 'averag', 'avinash', 'avoid',
       'await', 'awaken', 'awar', 'award', 'awards', 'away', 'awkward',
       'awri', 'ayakokawasumi', 'ayanataketatsu', 'ayanesakura',
       'ayushmannkhurrana', 'baba', 'babi', 'babu', 'baburaj', 'baby',
       'bachchan', 'bachelor', 'backdrop', 'background', 'bad', 'baek',
       'bag', 'bahadur', 'bai', 'baker', 'bala', 'balachand',
       'balachandramenon', 'balaji', 'balakrishna', 'balan', 'balanc',
       'ball', 'balu', 'ban', 'band', 'bandit', 'bangkok', 'banish',
       'bank', 'banker', 'banner', 'bar', 'barbera', 'barcelona', 'bare',
       'baron', 'bas', 'base', 'basebal', 'basedonchildren', 'basedoncom',
       'basedonmanga', 'basedonmovi', 'basedonnovelorbook',
       'basedonplayormus', 'basedonshortstori', 'basedontoy',
       'basedontruestori', 'basedonvideogam', 'basedonvisualnovel',
       'basedonwebcomicorwebtoon', 'basedonyoungadultnovel', 'basic',
       'basketbal', 'batman', 'battl', 'battle', 'battlefield', 'bay',
       'bbc', 'beach', 'bear', 'beast', 'beat', 'beaten', 'beauti',
       'beautiful', 'beauty', 'becam', 'becaus', 'becom', 'bed', 'befor',
       'befriend', 'began', 'begin', 'begins', 'begun', 'behav',
       'behavior', 'behaviour', 'belgian', 'belief', 'believ', 'bell',
       'belong', 'belov', 'ben', 'beneath', 'bengal', 'bengali', 'benni',
       'bent', 'berlin', 'besid', 'best', 'bestfriend', 'bet', 'betray',
       'betrayal', 'better', 'bhagyaraj', 'bhai', 'bhanu', 'bhanupriya',
       'bharat', 'bharathan', 'bharathiraja', 'bharathsrinivasan',
       'bhaskar', 'bhavana', 'bhavani', 'bhumikachawla', 'bid', 'big',
       'bigfamili', 'bigger', 'biggest', 'biju', 'bijumenon', 'bike',
       'billion', 'billionair', 'bin', 'biographi', 'biolog', 'biopic',
       'bipashabasu', 'bird', 'birth', 'birthday', 'bishounen', 'bit',
       'bite', 'bitter', 'bizarr', 'bl', 'black', 'blackmag', 'blackmail',
       'blade', 'blame', 'blast', 'blend', 'bless', 'blind', 'bliss',
       'block', 'blockbust', 'blood', 'bloodi', 'blossom', 'blow', 'blue',
       'bo', 'board', 'boat', 'bob', 'boban', 'bobbi', 'bobbydeol',
       'bobbysimha', 'bodi', 'body', 'bodyguard', 'bold', 'bollywood',
       'bomanirani', 'bomb', 'bombay', 'bond', 'book', 'books', 'border',
       'bore', 'born', 'borrow', 'bose', 'boss', 'boston', 'bought',
       'bound', 'boundari', 'bounti', 'bountyhunt', 'box', 'boxer', 'boy',
       'boyfriend', 'boys', 'brahmanandam', 'brahmin', 'brain', 'branch',
       'brand', 'brave', 'brazil', 'brazilian', 'break',
       'breakingthefourthwal', 'brew', 'brian', 'bribe', 'bride', 'bridg',
       'brien', 'bright', 'brilliant', 'bring', 'brink', 'britain',
       'british', 'broadcast', 'broke', 'broken', 'broker', 'bromanc',
       'brooklyn', 'bros', 'broth', 'brothel', 'brother',
       'brotherbrotherrelationship', 'brothers', 'brought', 'brown',
       'bruce', 'brutal', 'bu', 'buck', 'bud', 'buddi', 'buddycop',
       'build', 'building', 'built', 'bullet', 'bulli', 'bump', 'bunch',
       'bungalow', 'bunni', 'burden', 'bureau', 'buri', 'burn', 'busi',
       'business', 'businessman', 'businesswoman', 'butler', 'buy',
       'byomkesh', 'cabin', 'cabl', 'cafe', 'café', 'cal', 'calcutta',
       'california', 'calm', 'came', 'camera', 'camp', 'campaign',
       'campu', 'campus', 'canada', 'canadian', 'canal', 'cancel',
       'cancer', 'candid', 'capabl', 'capit', 'captain', 'captiv',
       'captur', 'car', 'caraccid', 'card', 'care', 'career', 'carefre',
       'caretak', 'carlo', 'carolina', 'carri', 'cartel', 'cartoon',
       'case', 'cases', 'cash', 'casino', 'cast', 'caste', 'castl', 'cat',
       'catastroph', 'catch', 'caught', 'caus', 'cb', 'cbi', 'celebr',
       'cell', 'center', 'centr', 'central', 'centuri', 'century', 'ceo',
       'ceremoni', 'ceremony', 'certain', 'cgi', 'cha', 'chaebol',
       'chagrin', 'chain', 'chakravarthi', 'challeng', 'challenge',
       'challenges', 'champion', 'championship', 'chan', 'chanc',
       'chance', 'chandra', 'chandramohan', 'chandran', 'chandrasekhar',
       'chandru', 'chandu', 'chang', 'change', 'changes', 'channel',
       'chao', 'chaos', 'chaotic', 'chapter', 'charact', 'character',
       'characters', 'charg', 'charismat', 'charl', 'charli', 'charlie',
       'charm', 'chart', 'chase', 'chat', 'chawla', 'cheat', 'check',
       'cheer', 'cheerlead', 'chef', 'chembanvinodjos', 'chemic', 'chen',
       'cheng', 'chennai', 'cheran', 'chi', 'chicago', 'chief', 'child',
       'childabus', 'childhood', 'childhoodfriend', 'childkidnap',
       'children', 'china', 'chines', 'chinna', 'chiranjeevi', 'choi',
       'choic', 'choice', 'choos', 'chopra', 'chosen', 'chri',
       'christian', 'christma', 'chronicl', 'chu', 'chul', 'chun',
       'chung', 'church', 'cia', 'cinema', 'circl', 'circu', 'circumst',
       'circumstances', 'citi', 'citizen', 'city', 'civil', 'claim',
       'clan', 'clark', 'clash', 'class', 'classdiffer', 'classic',
       'classmat', 'classmate', 'classmates', 'clean', 'clear', 'clerk',
       'clever', 'client', 'climax', 'climb', 'clinic', 'clock', 'clone',
       'close', 'closer', 'closest', 'cloth', 'clown', 'club', 'clue',
       'clueless', 'clutch', 'coach', 'coast', 'cocain', 'code', 'coffe',
       'cohabit', 'coin', 'cold', 'collabor', 'colleagu', 'colleagues',
       'collect', 'collector', 'colleg', 'college', 'collid', 'collis',
       'colombia', 'colombian', 'colonel', 'coloni', 'color', 'colorado',
       'colour', 'com', 'coma', 'combat', 'combin', 'come', 'comed',
       'comedi', 'comedian', 'comedy', 'comfort', 'comic', 'coming',
       'comingofag', 'command', 'commerci', 'commiss', 'commission',
       'commit', 'common', 'commun', 'communist', 'community', 'compani',
       'companion', 'company', 'compel', 'compet', 'competit',
       'competition', 'competitor', 'complet', 'complex', 'complic',
       'compos', 'compris', 'compromis', 'comput', 'conan', 'conceal',
       'concept', 'concern', 'concert', 'condit', 'condition', 'condor',
       'conduct', 'confess', 'confid', 'confin', 'confirm', 'conflict',
       'confront', 'confus', 'conman', 'connect', 'connor', 'conquer',
       'consequ', 'consequences', 'conserv', 'consid', 'consist',
       'conspir', 'conspiraci', 'conspiracy', 'constabl', 'constant',
       'constantli', 'construct', 'consult', 'consum', 'contact',
       'contain'], dtype=object)

In [134]:
# here we can see that there are lots of common words like [loving, loved, love] actually three are same with love word
# so we need to fix that in our tags for that we are going to use nltk module on the new_df

In [135]:
#after all this we get 5000 common words in 20000 movies next we need to find the similiarity
#for that we are going import similarity function from sklearn

In [52]:
from sklearn.metrics.pairwise import cosine_similarity

In [53]:
similarity = cosine_similarity(vectors)

In [54]:
similarity[1]

array([0.06978632, 1.        , 0.05970814, ..., 0.04747572, 0.        ,
       0.03178209])

In [58]:
#so we found out the similarity now we want to find the most similar movies we will take only 5 movies now
# it your choice to get more for this we are going to write function for that
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:6]

    for i in movies_list:
        print(new_df.iloc[i[0]].mov_ser_id)

In [59]:
new_df.head()

,mov_ser_id,title,tags
0,298618,The Flash,when hi attempt to save hi famili inadvert alt...
1,346698,Barbie,barbi and ken are have the time of their live ...
2,667538,Transformers: Rise of the Beasts,when a new threat capabl of destroy the entir ...
3,385687,Fast X,"over mani mission and against imposs odds, dom..."
4,872585,Oppenheimer,the stori of j. robert oppenheimer’ role in th...

In [60]:
recommend('Sex Education')

221399
53128
203906
26313
97186

In [142]:
# so we finish our coding here next we are going to convert it into an website

In [143]:
# to use the new_df as our website dataset we are going make it as a pickle dataset

In [61]:
import pickle

In [62]:
pickle.dump(new_df, open('movies.pkl', 'wb'))

In [63]:
pickle.dump(new_df.to_dict(), open('movies_dict.pkl', 'wb'))

In [64]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))